<!doctype html>
<html>
    <head>
        <title>FOX2YP</title>
        <!--JAVASCRIPT LIBRARIES -->

        <link href="../css/styles.css" rel="stylesheet" type="text/css"></link>

    </head>
    <body><div class="centered"> You have now completed the study. 
      <p>Please press F11 to exit fullscreen mode.  </p>
      <p>Please logoff your computer, and tidy the workstation. </p>
      <p>Please return all materials to the experimenter </p>

    Thank you for your time, and have a wonderful day!  </div> </body>

</html>
