html{
  height:100%;
  width: 100%;
}
p.userid {
  position: fixed;
  bottom: 0;
  left: 10px;
  color:grey;
  font-family:"Helvetica";
  font-size:12px;
}
.static {
  display: none;
    /*background-color: blue;*/
    /*opacity:.20;*/
    position:fixed;
    bottom: 0;
    right:0 ;
}
/*TEXT STYLES*/

.centered {
  text-align:center;
}

/*DIV CONTAINERS*/
div.masterdiv {
  /*background-color: yellow;*/
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height:100%;
  width:100%
}

div.top {
  /*background-color:green;*/
	height:10%;
  position:relative;
	text-align: center;
}

div.instructions {
  /*background-color: red;*/
	height:80%;
  width:70%;
	position:relative;
	text-align: left;
  overflow:auto;
}

div.vcent{
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

div.bcent{
  position: relative;
  top: 80%;
  transform: translateY(-100%);
}

div.bottom { /* BOTTOM BOX*/
	/*background-color:blue;*/
	height:10%;
	float:bottom;
	position:relative;
	text-align: center;
}

div.jones{
  /*background-color: yellow;*/
  position:fixed;
  top:350px;
  left:350px;
  width: 60%;
  text-align: left;
}

/*container for d3 stimulus and instructions block*/
div.stimulus{
  /*background-color: black;*/
  width:100%;
  height:100vh;
  display:flex;
  flex-direction: row ;
  justify-content: center;
  align-items: center;
}

/*container div for d3 -generated svg */
div.d3container{
  /*background-color: blue;*/
  text-align:center;
  float:left;
  width:60%;
}

/*container div for legend, test & fixbottom*/
div.userinput{
  /*background-color: white;*/
  /*width:30%;*/
  height:100%;
  display:flex;
  flex-direction: column ;
  justify-content: center;
  align-items: center;
}

/*hint for interactive scaffold */
div.legend{
  /*background-color: orange;*/
  color:#3498db;
  text-align: center;
  justify-content: center;
  font-family:"Helvetica";
  font-size:18px;
  font-style: italic;
}

/*test question*/
div.test{
  /*background-color: yellow;*/
  text-align:center;
  justify-content: center;
  padding-bottom: 10px;
}

/*submit button*/
div.fixbottom{
  /*background-color: green;*/
  height:100px;
  text-align:center;
  display:flex;
  justify-content: center;
  align-items: center;
}

div.center {
	background-color:white;
	position: absolute;
	margin: auto;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	width: 60%;
	height: 100%;
}

p .legend{
  line-height: 1;
  color:#3498db;
}


.axisTitle text {
  fill:black;
  font-family:"Helvetica";
  font-size:18px;
  font-weight:bold;
}

.xaxis .tick line{
  stroke: black;
  stroke-opacity: 1;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.yaxis .tick line{
  stroke: black ;
  stroke-opacity: 1;
  stroke-width: 2;
  shape-rendering: crispEdges;
}
.tick text{
  fill:black;
  font-family:"Helvetica";
  font-size:14px;
}

.xaxis  {
  stroke-width: 2;
}

.domain  {
  stroke-width: 2;
}

.xgrid  {
  stroke: grey;
  stroke-opacity: 1;
  stroke-width: 1;
  shape-rendering: crispEdges;
}

.yaxis line {
  stroke: grey ;
  stroke-width: 2;
  shape-rendering: crispEdges;
}

.ygrid  line {
  stroke: grey;
  stroke-opacity: 1;
  shape-rendering: crispEdges;
}

.data text{
  fill:black;
  font-family:"Helvetica";
  font-size:12px;
  font-style:normal
}

.checkbox-grid li {
  display: block;
  float: left;
  width: 20%;
  padding-right: 10px;
  fill:black;
  font-family:"Helvetica";
  font-size:16px;
  font-style:normal
}









.question {
  /*font-style: italic;*/
  /*text-align:center;*/
  margin-top:3%;
  margin-bottom:0;
  /*color:#3498db;*/
  font-weight: bold;
  fill:black;
  font-family:"Helvetica";
  font-size:16px;
  font-style:normal
}
/*.vacationdays {*/
  /*align-content: center;*/
/*}*/
.leaders {
  stroke-width:5px;
  stroke:#3498db;
  opacity:0.75;
  stroke-linecap:round;
  stroke-dasharray:8,15;
}
.static-scaffold {
  stroke-width:5px;
  stroke:#3498db;
  opacity:0.75;
  stroke-linecap:round;
  stroke-dasharray:8,15;
}
.scaffCircle {
  stroke:#3498db;
  stroke-width:3;
  fill:none;
  r: 22;
  opacity:1;
  stroke-dasharray:1;
}
.static-scaffold text{
  fill:#3498db;
  font-family:"Helvetica";
  font-size:16px;
  font-style:normal;
  stroke-width:0px;
  opacity:1;
}
.circle {
  stroke:#3498db;
  stroke-width:3;
  fill:none;
  r: 22;
  opacity:1;
  stroke-dasharray:1;
}

.segment {
  stroke:black;
  stroke-width:5;
  stroke-linecap:round;
}
.controls {
  text-align: center;
  margin-top:10px;
}
.btn {
  -webkit-border-radius: 10;
  -moz-border-radius: 10;
  border-radius: 10px;
  font-family: Arial;
  color: #ffffff;
  font-weight: bold;
  background: #bdbdbd;
  padding: 10px 20px 10px 20px;
  border: solid #ffffff 2px;
  text-decoration: none;
  height: 34px;
  width: 120px;
  line-height: 8px;
  font-size: 14px;
  /*float:left;*/
  margin-left:20px;
}
.btn:hover {
  background: #807e80;
  text-decoration: none;
}
/* The switch - the box around the slider */
.onoffswitch {
    float:left;
    position: relative; width: 119px;
    -webkit-user-select:none; -moz-user-select:none; -ms-user-select: none;
    text-align:left;
  }
.onoffswitch-checkbox {
    display: none;
  }
.onoffswitch-label {
    display: block; overflow: hidden; cursor: pointer;
    border: 2px solid #FFFFFF; border-radius: 10px;
  }
.onoffswitch-inner {
    display: block; width: 200%; margin-left: -100%;
    transition: margin 0.3s ease-in 0s;
  }
.onoffswitch-inner:before, .onoffswitch-inner:after {
    display: block; float: left; width: 50%; height: 32px; padding: 0; line-height: 32px;
    font-size: 14px; color: white; font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
    box-sizing: border-box;
  }
.onoffswitch-inner:before {
    content: "HELP ON";
    padding-left: 10px;
    background-color: #BDBDBD; color: #FFFFFF;
  }
.onoffswitch-inner:after {
    content: "HELP OFF";
    padding-right: 10px;
    background-color: #EEEEEE; color: #999999;
    text-align: right;
  }
.onoffswitch-switch {
    display: block; width: 18px; margin: 7px;
    background: #FFFFFF;
    position: absolute; top: 0; bottom: 0;
    right: 83px;
    border: 2px solid #FFFFFF; border-radius: 10px;
    transition: all 0.3s ease-in 0s;
  }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
    margin-left: 0;
  }
.onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
    right: 0px;
  }
.tmlabel{
  font-size: 14px;
}
.scaffold text{
  fill:#3498db;
  font-family:"Helvetica";
  font-size:14;
}
.subheading{
	font-style:italic;
}
.boxed {
  border: 1px solid black;
}


/*CUSTOM CHECKBOX */
.control {
    font-family: arial;
    /* display: block; */
    position: relative;
    padding-left: 29px;
    margin-bottom: 8px;
    padding-top: 0px;
    cursor: pointer;
    font-size: 20px;
}
    .control input {
        position: absolute;
        z-index: -1;
        opacity: 0;
    }
.control_indicator {
    position: absolute;
    top: 3px;
    left: 0;
    height: 20px;
    width: 20px;
    background: #cccccc;
    border: 0px solid #000000;
}
.control-radio .control_indicator {
    border-radius: undefined%;
}

.control:hover input ~ .control_indicator,
.control input:focus ~ .control_indicator {
    background: #aaaaaa;
}

.control input:checked ~ .control_indicator {
    background: #3499DB;
}
.control:hover input:not([disabled]):checked ~ .control_indicator,
.control input:checked:focus ~ .control_indicator {
    background: #0e6647d;
}
.control input:disabled ~ .control_indicator {
    background: #e6e6e6;
    opacity: 0.6;
    pointer-events: none;
}
.control_indicator:after {
    box-sizing: unset;
    content: '';
    position: absolute;
    display: none;
}
.control input:checked ~ .control_indicator:after {
    display: block;
}
.control-checkbox .control_indicator:after {
    left: 8px;
    top: 4px;
    width: 3px;
    height: 8px;
    border: solid #ffffff;
    border-width: 0 2px 2px 0;
    transform: rotate(45deg);
}
.control-checkbox input:disabled ~ .control_indicator:after {
    border-color: #7b7b7b;
}
