<!doctype html>
<html>
    <head>
        <title>FOX2YP</title>
        <!--JAVASCRIPT LIBRARIES -->

        <link href="../css/styles.css" rel="stylesheet" type="text/css"></link>

    </head>
    <body><div>
      <p>Thank you for your assistance in developing these educational materials. </p>
      <p>You may now return to your mTurk task. </p>
      <p> Please enter code <B>AMTLIN1</B> into your mTurk task and mark it as complete.  </p>
      <p>Your payment will be processed when we receive
         confirmation that your submission has been received.</p> </div> </body>

</html>
